<div class="sidebar-card">

  <div>
    <span>Product Service Counter = {{ productServiceCounter }}</span>
  </div>
  <div>
    <span>Shop Service Counter = {{ shopServiceCounter }}</span>
  </div>
  <button (click)="increment()">Click</button>
  <button (click)="update()">Update</button>
  <div class="category-title">
    All Categories
  </div>

  <ul>
    <li (click)="navigateToCategory('electronic')">Electronics</li>
    <li (click)="navigateToCategory('fashion')">Fashion</li>
    <li (click)="navigateToCategory('beauty')">Beauty</li>
    <li>Home & Kitchen</li>
    <li>Beauty & Health</li>
    <li>Sports & Outdoors</li>
    <li>Books & Stationery</li>
    <li>Toys & Games</li>
    <li>Automotive</li>
  </ul>

</div>
