<p>reactive-setup works!</p>


<input [formControl]="nameField" >


<p>{{ nameField.value }}</p>
<p *ngIf="nameField.invalid">
  <span *ngIf="nameField.hasError('required')">Name is required</span>
  <span *ngIf="nameField.hasError('minlength')">Name is required min length 6</span>
</p>


<form
 [formGroup]="addressForm"
 (ngSubmit)="onSubmit()"
>

  <label for="street">Street</label>
  <input id="street" type="text" formControlName="street">


  <label for="city">City</label>
  <input id="city" type="text" formControlName="city">

  <label for="country">Country</label>
  <input id="country" type="text" formControlName="country">

  <label for="zip">Zip</label>
  <input id="zip" type="text" formControlName="zip">
  <p *ngIf="addressForm.controls?.zip?.invalid">
    <span *ngIf="addressForm.controls?.zip?.hasError('required')">Zip is required</span>
    <span *ngIf="addressForm.controls?.zip?.hasError('maxlength')">Zip max length 6</span>
  </p>

  <button type="submit">Submit</button>
</form>



<form
  [formGroup]="applicationForm"
  (ngSubmit)="onSubmitApplication()"
>
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name">

  <label for="age">Age</label>
  <input id="age" type="text" formControlName="age">

  <div formGroupName="address">
    <label for="street">Street</label>
    <input id="street" type="text" formControlName="street">


    <label for="city">City</label>
    <input id="city" type="text" formControlName="city">

    <label for="country">Country</label>
    <input id="country" type="text" formControlName="country">

    <label for="zip">Zip</label>
    <input id="zip" type="text" formControlName="zip">
    <p *ngIf="applicationForm.controls?.address?.controls?.zip?.invalid">
      <span *ngIf="applicationForm.controls?.address?.controls?.zip?.hasError('required')">Zip is required</span>
      <span *ngIf="applicationForm.controls?.address?.controls?.zip?.hasError('maxlength')">Zip max length 6</span>
    </p>
  </div>

  <div formArrayName="skills">
    <div *ngFor="let skill of getSkills(); index as index">
      <div [formGroup]="skill">
        <label [for]="'skillName_'+index">Name</label>
        <input [id]="'skillName_'+index" type="text" formControlName="name">
        <label [for]="'skillValue_'+index">Value</label>
        <input [id]="'skillValue_'+index" type="text" formControlName="value">
      </div>
    </div>
  </div>

  <button type="button" (click)="addNewSkill()">Add New Skill</button>

  <button type="submit">Submit</button>
</form>



<form [formGroup]="studentFrom" (ngSubmit)="onSubmitStudentForm()">

  <label for="username">User Name</label>
  <input id="username" type="text" formControlName="username">

  <small *ngIf="username?.pending">
    Checking username validity
  </small>

  <small *ngIf="username?.hasError('usernameTaken')">
    User name is already taken
  </small>

  <small *ngIf="username?.valid ">
    {{ username?.value }} is Available
  </small>

  <label for="firstName">First Name</label>
  <input id="firstName" type="text" formControlName="firstName">

  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" formControlName="lastName">

  <label for="email">Email</label>
  <input id="email" type="email" formControlName="email">

  <label for="password">Password</label>
  <input id="password" type="password" formControlName="password">

  <small *ngIf="studentPassword?.hasError('passwordStrength')">
    <span *ngIf="!studentPassword?.getError('passwordStrength')?.hasUpperCase?.valid">
      {{ studentPassword?.getError('passwordStrength')?.hasUpperCase?.message }}
    </span>
    <span *ngIf="!studentPassword?.getError('passwordStrength')?.hasLowerCase">
      Password must contain lower case character
    </span>
    <span *ngIf="!studentPassword?.getError('passwordStrength')?.hasNumber">
      Password must contain a number
    </span>
    <span *ngIf="!studentPassword?.getError('passwordStrength')?.hasSpecialCharacters">
      Password must contain Special character
    </span>
  </small>

  <label for="confirmPassword">Confirm Password</label>
  <input id="confirmPassword" type="password" formControlName="confirmPassword">

  <small *ngIf="studentFrom?.hasError('passMismatch')">
    {{ studentFrom?.getError('passMismatch')?.message }}
  </small>

  <div formGroupName="address">
    <label for="street">Street</label>
    <input id="street" type="text" formControlName="street">


    <label for="city">City</label>
    <input id="city" type="text" formControlName="city">

    <label for="country">Country</label>
    <input id="country" type="text" formControlName="country">

    <label for="zip">Zip</label>
    <input id="zip" type="text" formControlName="zip">
  </div>


  <button type="submit">Submit</button>
</form>
