<div
  class="product-card">

  <button class="wishlist">
    <mat-icon>favorite_border</mat-icon>
  </button>

  <img
    [src]="product.thumbnail"
    [alt]="product.title"
  >

  <h4>{{ product.title }}</h4>

  <div class="rating">
    ★★★★☆
    <span>(120)</span>
  </div>

  <div class="price">

          <span class="new-price">
            ${{ product.price }}
          </span>

  </div>

  <button class="cart-btn">
    <mat-icon>shopping_cart</mat-icon>
    Add to Cart
  </button>

</div>
